<header class="usa-site-header" role="banner">
  <nav class="usa-site-navbar">
    <div class="usa-grid">
      <div class="usa-width-one-half">
          <h1>{{ site.title }}</h1>
      </div>
      <div class = "usa-width-one-fourth">
          <ul class="usa-nav-list usa-unstyled-list">

              <li class="usa-menu-item">
                <a href="#">About</a>
              </li>
              <li class="usa-menu-item">
                <a href="#">Resources</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
</header>
