@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  line-height: 1.3;
  margin-bottom: .5em;
  margin-top: 1.5em; }

h1 {
  font-size: 4rem;
  font-weight: 700; }

h2 {
  font-size: 3rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

h4 {
  font-size: 1.7rem;
  font-weight: 700; }

h5 {
  font-size: 1.5rem;
  font-weight: 700; }

h6 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase; }

cite,
var,
address,
dfn {
  font-style: normal; }

legend,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #126ca7;
  margin-bottom: 20px; }

ul,
li {
  margin-bottom: 0; }

ul p,
ol p {
  margin-bottom: 0;
  margin-top: 0; }

main {
  margin-bottom: 1em; }

form {
  max-width: 100%; }

.usa-content > p,
.usa-content > ul,
.usa-content > ol,
.usa-content > h1,
.usa-content > h2,
.usa-content > h3,
.usa-content > h4,
.usa-content > h5,
.usa-content > h6 {
  max-width: 62.5rem; }

a:visited {
  color: inherit; }

div.skip-nav a {
  position: absolute;
  left: -10000;
  top: 0;
  width: 1px;
  height: auto;
  overflow: hidden; }

div.skip-nav a:focus {
  position: absolute;
  top: 5px;
  left: 5px;
  width: auto;
  height: auto;
  z-index: 999999;
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
  overflow: visible; }

#main:focus {
  outline: none; }

@media (min-width: 600px) {
  .usa-width-one-whole.usa-content {
    position: relative;
    left: 50%;
    max-width: 62.5rem;
    margin-left: -31.25rem; } }
.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  background-color: #126ca7;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px; }

.usa-button:hover,
.usa-button-primary:hover,
.usa-button:visited:hover,
.usa-button-primary:visited:hover,
button:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="image"]:hover {
  background-color: #134050; }

@media (max-width: 500px) {
  .usa-button,
  .usa-button-primary,
  .usa-button:visited,
  .usa-button-primary:visited,
  button,
  [type="button"],
  [type="submit"],
  [type="reset"],
  [type="button"],
  [type="submit"],
  [type="reset"],
  [type="image"] {
    width: auto; } }
.usa-disclaimer {
  text-align: center; }

.usa-site-navbar {
  padding-top: 1rem; }

.usa-site-navbar .usa-grid {
  position: relative; }

.usa-site-navbar .usa-grid::before,
.usa-site-navbar .usa-grid::after {
  content: '';
  display: table; }

.usa-site-header {
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.usa-site-header h1 {
  margin: 0;
  padding: 0;
}

.usa-menu-item {
color: #000000;
font-family: 'Lato', sans-serif;
font-weight: 300; }

.usa-menu-item a {
  color: #000000;
}

.usa-nav-list a {
  border-bottom: 0;
  text-decoration: none; }

.usa-nav-list {
  float: right;
  margin-top: -1em;
  position: absolute;
  right: 3rem;
  top: 50%; }
  @media (max-width: 900px) {
    .usa-nav-list {
      float: none;
      margin: 0 auto;
      margin-bottom: 1em;
      position: relative;
      text-align: center;
      width: 70%; } }

li.usa-menu-item {
  display: inline;
  font-size: 18px; }
  @media (max-width: 970px) {
    li.usa-menu-item {
      font-size: 14px; } }

.usa-menu-item a {
  padding: 1em; }

.usa-menu-item:hover a {
  background-color: #126ca7;
  color: #fff; }

@media (max-width: 600px) {
  .usa-site-navbar .usa-grid {
    padding: 0; }

  .usa-nav-list {
    margin: 1em 0;
    float: none;
    text-align: center; }

  ul.usa-nav-list {
    bottom: 0;
    position: relative;
    right: 0;
    width: 100%; }

  .usa-menu-item a {
    padding: .4em; } }
li.usa-menu-item:last-child {
  margin-right: 0; }

.sidenav {
  margin-top: 2em;
  min-height: 30em; }

.usa-width-three-fourths > h1 {
  margin-top: 0; }

.usa-sidenav-list li:first-child {
  border-top: 0; }

.usa-sidenav-list a {
  color: #000000;
  font-family: 'Lato', sans-serif; }

.usa-sidenav-list a.usa-current-page {
  border-color: #000000;
  color: #000000;
  font-weight: 400; }

.usa-sidenav-list a:hover {
  color: #000000; }

@media (min-width: 600px) {
  .usa-width-three-fourths.usa-content {
    padding-left: 1.3em; } }
.center-content {
  text-align: center; }

.hero-unit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  min-height: 32em;
  position: relative; }

.hero-content {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 20px;
  left: 50%;
  margin-left: -30%;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  width: 60%; }

.hero-content h1 {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .3em;
  padding-right: .3em; }

.hero-content .usa-button {
  font-size: 22px;
  line-height: 30px; }

iframe {
  margin-left: 25%;
  width: 50%; }

@media (max-width: 800px) {
  iframe {
    margin-left: 10%;
    width: 80%; } }
@media (max-width: 500px) {
  iframe {
    margin-left: 0;
    width: 95%; } }
@media (max-width: 321px) {
  iframe {
    min-height: 4rem;
    width: 100%; } }
.page--banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%; }

.caption {
  float: right; }

.project {
  margin-bottom: 2em;
  min-height: 300px;
  padding: 1em; }

.project--image {
  background-size: cover;
  display: block;
  min-height: 75px;
  width: 75px; }

a.project--image,
a.project--image:active,
a.project--image:focus,
a.project--image:hover,
a.project--image:visited {
  border: 0; }

.project--description {
  border-top: 3px solid #f9834a;
  padding-top: .5em; }

a .project--description span {
  border-bottom: 0;
  color: #000000; }

a:hover .project--description span {
  border-bottom: 1px dotted; }

.banner.tagline {
  background-color: #126ca7; }

.banner.tagline .usa-grid {
  padding: 3rem; }

.banner.tagline p {
  color: #fff;
  margin-bottom: 75px; }

.banner.tagline h2 {
  color: #fff;
  margin-top: 75px; }

.banner.contact {
  background-color: #126ca7; }

.banner.contact form {
  padding-top: 2em; }

.banner.contact h2,
.banner.contact p,
.banner.contact legend,
.banner.contact label,
.banner.contact a,
.banner.contact a:hover,
.banner.contact a:visited {
  color: #fff; }

.banner .usa-button,
.banner .usa-button-primary,
.banner .usa-button:visited,
.banner .usa-button-primary:visited,
.banner button,
.banner [type="button"],
.banner [type="submit"],
.banner [type="reset"] {
  background-color: #f2c446;
  color: #134050; }

.usa-footer-secondary_section {
  background-color: #4c4c4c; }

footer p,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer a,
footer a:hover,
footer a:visited {
  color: #fff; }

.usa-footer-logo p {
  font-size: .7em; }
